/* Footer layout */

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #1279E6;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 170px;
    padding-right: 170px;
}

.footer__link {
    flex-basis: 1 33%;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
}

.footer__link:hover {
    color: #dfdfdf;
}

.footer__link--active:hover {
    border-bottom: #dfdfdf solid 3px;
}

.footer__link--active {
    border-bottom: #fff solid 3px;
}