/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-width: 1024px;
}

/* Partials imports */

@import './header.scss';
@import './grid.scss';
@import './list.scss';
@import './add.scss';
@import './edit.scss';
@import './footer.scss';